<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>taskTrax</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        <div class="container-fluid navigation pt-3 pb-1 justify-content-between">
            <div class="row my-2 mx-2">
                <div class="col">
                    <h3>taskTrax</h3>
                </div>
                {% if current_user.is_authenticated %}
                <div class="col">
                    <ul class="list-unstyled float-end">
                        <li class="mx-2" style="display: inline;"><a href="{{ url_for('home') }}" class="link-dark link-offset-2 link-opacity-75-hover link-underline-opacity-75-hover">Home</a></li>
                        <li class="mx-2" style="display: inline;"><a href="{{ url_for('show_tasks') }}" class="link-dark link-offset-2 link-opacity-75-hover link-underline-opacity-75-hover">Tasks</a></li>
                        <li class="mx-2" style="display: inline;"><a href="{{ url_for('logout') }}" class="btn btn-outline-dark" role="button">Log Out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>            
        </div>
