{% include "header.html" %}
<!-- Hero -->
<div class="container-fluid mx-auto py-5 hero">
    <div class="row justify-content-center">
        <div class="col-md-5 my-5 px-5">
            <h1 class="mt-2">Unleash Your Productivity Potential!</h1>
            <p class="my-3 lh-lg">Ready to <strong>revolutionize your productivity</strong> game? Join the TaskFlow community today and <strong>experience the joy of getting things done</strong> efficiently and effortlessly!</p>
            <div class="container px-0">
                <a href="{{ url_for('register') }}" class="btn btn-lg btn-dark my-3" role="button">Sign Up</a>
                <a href="{{ url_for('login') }}" class="btn btn-lg btn-outline-dark my-3" role="button">Log In</a>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <img alt="" src="../static/assets/img/hero_img.png"/>
        </div>
    </div>
</div>

<!-- Section 1: What is taskTrax -->
<div class="container-fluid my-5 py-5 px-5">
    <div class="row justify-content-around px-5 gx-0">
        <div class="col-12 px-2">
            <h3 class="px-5">What is taskTrax</h3>
            <p class="pb-4 pt-2 px-5 text-secondary lh-lg">Tired of scattered to-do lists and missed deadlines? Enter TaskFlow, your all-in-one solution to streamline tasks and boost productivity like never before.</p>
        </div>
        <div class="col-md-3 mx-5">
            <h4 class="my-3"><img src="../static/assets/img/organization.png" alt="Organization" /> Seamless Organization</h4>
            <p class="text-secondary">TaskFlow empowers you to effortlessly manage your tasks, projects, and goals in one intuitive platform. Say goodbye to the chaos of scattered notes and hello to a perfectly organized workflow.</p>
        </div>
        <div class="col-md-3 mx-5">   
            <h4 class="my-3"><img src="../static/assets/img/task_img.png" alt="Organization" /> Effortless Task Management</h4>
            <p class="text-secondary">With TaskFlow, creating, editing, and prioritizing tasks is a breeze. Enjoy a user-friendly interface designed to make your to-do list work for you, not the other way around.</p>
        </div>
        <div class="col-md-3 mx-5">
            <h4 class="my-3"><img src="../static/assets/img/anywhere_img.png" alt="Organization" />Anywhere, Anytime Access</h4>
            <p class="text-secondary">TaskFlow is your virtual assistant that travels with you. Access your tasks from any device, whether you're in the office, at home, or on the go.</p>
        </div>
    </div>
</div>

<!-- Section 2: Who is it for -->
<div class="container-fluid section-second mt-5 py-5 px-5 mx-auto  bg-light bg-gradient">
    <div class="row justify-content-center px-5">
        <div class="col-12 px-2">
            <h3 class="px-5 mx-3">What is it for</h3>
        </div>
        <div class="col-md-6 img-fluid min-width: 150%; text-center">
            <img alt="" src="../static/assets/img/section_img.png" />
        </div>
        <div class="col-md-4 px-3 mt-2 mb-3">
            <h6>Visualize Your Progress</h6>
            <p class="lh-base text-secondary">Never miss a deadline again! TaskFlow's intelligent reminder system ensures you stay on top of your tasks, keeping you focused on what truly matters.</p>
            <h6>Smart Reminders</h6>
            <p class="lh-base text-secondary">Watch your productivity soar as TaskFlow provides insightful visuals and progress tracking. Visualize your accomplishments and stay motivated on your journey toward success.</p>
            <h6>Secure Collaboration</h6>
            <p class="lh-base text-secondary">Seamlessly collaborate with teammates, friends, or family on shared projects. TaskFlow ensures your information is secure, and teamwork becomes a catalyst for success.</p>
        </div>
    </div>
</div>
{% include "footer.html" %}